= simple_form_for([@presentation, @slide, @content]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :body

    = f.input :sort_order

    = f.input :content_type_id, collection: @content_types
  .form-actions
    = f.button :submit
