%h1 Listing contents

%table
  %tr
    %th Body
    %th
    %th
    %th

  - @contents.each do |content|
    %tr
      %td= content.body
      %td= link_to 'Show', presentation_slide_content_path(content) #content
      %td= link_to 'Edit', edit_presentation_slide_content_path(content)
      %td= link_to 'Destroy', content, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Content', new_presentation_slide_content_path
