= simple_form_for(@presentation) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    / = f.input :slug
    = f.input :description

    = f.input :is_public
    
  .form-actions
    = f.button :submit
