%p#notice= notice

%p
  %b Name:
  = @presentation.name
%p
  %b Slug:
  = @presentation.slug
%p
  %b Description:
  = @presentation.description

= link_to 'Edit', edit_presentation_path(@presentation)
\|
= link_to 'Back', presentations_path
